Options +FollowSymLinks
RewriteEngine On

# If the request is for an existing file or folder, do not route
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, send to index.php
RewriteRule ^(.*)$ index.php [QSA,L]
